/* CSS Document */
.nice {

	color: black;
}

body {
   background-image: url("paper.gif");
   background-color: #FFE4C4;
}
.Times{
	font-family: Times;
}
p {
  font-family: Times;
}

.cursive {
  font-family: cursive;
}

h2{
  font-family: cursive;
}
.Courier-New{
	font-family: Courier New;
}
h3{
	font-family: Courier New;
}
h1{
  font-family: cursive;
}
.top{
	color: lightgray;
}